@font-face {
  font-family: 'Agane-light';
  src: url('fonts/Agane(light).woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Agane-bold';
  src: url('fonts/Agane(Bold).woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Agane-extra-bold';
  src: url('fonts/Agane(Extra-Bold).woff') format('woff');
  font-weight: 100;
  font-style: normal;
}